<<<<<<< HEAD
@import '~bootstrap/scss/bootstrap';
=======
//
@import'~bootstrap/scss/bootstrap';
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
>>>>>>> 694aabcee30c6168bdae4c24e6a4d1a2e2a70a8f
